/*Some Resetting*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    /* background-color: #2ecc71; */
}

textarea:focus, input:focus{
    outline: none;
}


#search-box{
    padding: 30px;
    text-align: center;
}

#search-box input[type='text']{
    background-color: #eee;
    padding:12px;
    border: 1px solid #eee;
    margin: 10px;
    /* border-radius: 10px; */
}

#search-box button{
    background-color: #3498db;
    color:#fff;
    font-size: 1em;
    border: 1px solid #eee;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#today-weather{
    box-shadow: 7px 7px 3px #333;
    background:  linear-gradient(to right bottom, #777777d0, #77777749),
    url('../assets/evening.png') no-repeat;
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    /* height: 60vh; */
    margin: 2%;
    padding: 20px;
    border-radius: 15px;
    color:#fff;
    background-color: #364760;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.today-detail h2{
    padding: 10%;
    color: #fff;
    margin: 10px auto;
    font-size: 5em;
}

.today-detail p{
    font-size: 2em;
    color:#fff;
}

.today-detail{
    width: 50%;
}

.detail{
    margin-top: 30px;
    width: 100%;
}

.detail h3{
    display: inline;
    padding: 10px;
    margin-left: 20px;
    /* font-size: 1.5em; */
}

.today-detail img{
    height: 300px;
    width: 300px;
}

#forecast{
    background-color: rgb(225, 226, 226);
}

#forecast .forecast-day{
    /* background-color: #2ecc71; */
    background-color: #34495e;
    box-shadow: 7px 7px 3px #333;
    color: #fff;
    width: 30%;
    margin: 1.5%;
    border-radius: 10px;
    float: left;
    padding: 20px;
    text-align: center;
}

#forecast .forecast-day h2{
    padding: 10px;
}

@media only screen and (max-width: 900px){
    .detail h3{
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    #today-weather{
        height: auto;
    }

    .today-detail h2{
        padding: 0;
    }

    .today-detail p{
        padding-bottom: 30px;;
    }

    .today-detail img{
        height: 200px;
        width: 200px;
    }
    
    .today-detail{
        margin-bottom: 20px;
        width: 100%;
        float: none;
    }
  } 